@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;500&display=swap');


.App-home {
  background-image: url("./images/home/circuit.png");
  background-blend-mode: color;
  background-size:cover;
  mix-blend-mode: darken;
}